
/* hind madurai font */
.hind-madurai-font {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}
/* inter font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* font style end */

/* navbar section */
.nav-right-div{
  padding: 14px 25px;
}
.nav-right-div>p{
  margin-right: 3px;
}
@import "tailwindcss"